@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #7A1CAC;
    font-family: "Montserrat", sans-serif;
}

.bg-primary {
    background-color: #7A1CAC;
}

.navbar,
.bg-card {
    background-color: #2e073f;
}

.navbar-toggler:hover .top-bar,
.navbar-toggler:hover .middle-bar,
.navbar-toggler:hover .bottom-bar {
    background-color: #7a1cac;
}

#logo {
    font-family: "Montserrat", sans-serif;
}

.card {
    background-color: #AD49E1;
    border: none;
}

.card-body {
    color: white;
}

@media (max-width: 768px) {
    .graph-card {
        display: none;
    }
}

.card:hover {
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.05);
}

/* Ensure the canvas matches perfectly with the card */
canvas {
    width: 100%;  
    height: 100%; 
    margin: 0;    
    z-index: 0;
}
  .custom-card {
    background: linear-gradient(-45deg, #5555FF, #9787FF, #FF55B8, #FF8787);
    background-size: 400% 400%;
    animation: bg 20s infinite;
    overflow: hidden; /* Ensures children don't overflow outside the card */
  }

  .card .about {
    height: 185px;
    padding: 20px;
    box-sizing: border-box;
  }
  .card .about .lead {
    color: #eee;
  }
  
  .card .info {
    float: left;
    padding: 10px 30px 10px 0;
  }
  
  .card .info p {
    font-size: 11px;
    color: #aaa;
    font-weight: 300;
  }
  
  .legends {
    padding-top: 20px;
    overflow: hidden;
  }
  
  .legend {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
  }
  
  .legend--this {
    background-color: #5555FF;
  }
  
  .legend--prev {
    background-color: #FF55B8;
  }
  
  .axis {
    position: relative;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    bottom: 0;
  }
  
  .axis .tick {
    flex: 1;
    position: relative;
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  
  .axis .tick::after {
    content: "";
    display: block;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .axis .tick .value {
    transform: translateY(-240px);
    opacity: 0;
    transition: all 0.3s;
    top: 20px;
    left: 0;
    color: #fff;
    border-radius: 2px;
    width: 100%;
    line-height: 20px;
  }

  
  .value.value--this {
    color: #fff;
    font-weight: bold;
  }
  
  .day-number {
    display: block;
  }
  
  .day-name {
    display: block;
    opacity: 0.4;
  }
  
  /* Animated background, credits: Manuel Pinto, https://codepen.io/P1N2O/pen/pyBNzX */
  .card {
    background: linear-gradient(-45deg, #5555FF, #9787FF, #FF55B8, #FF8787);
    background-size: 400% 400%;
    animation: bg 20s infinite;
  }
  
  @keyframes bg
  {
    0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  